# -*- coding: utf-8 -*-
#
# This file is part of pytest-invenio.
# Copyright (C) 2017-2018 CERN.
#
# pytest-invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

-e git+https://github.com/inveniosoftware/invenio-db#egg=invenio-db
-e git+https://github.com/inveniosoftware/invenio-mail#egg=invenio-mail
-e git+https://github.com/inveniosoftware/invenio-search#egg=invenio-search
-e git+https://github.com/pallets/flask.git#egg=Flask
-e git+https://github.com/pytest-dev/pytest-flask.git#egg=pytest-flask
-e git+https://github.com/pytest-dev/pytest.git#egg=pytest
